# Docker
PUID=1000
PGID=1000
HOST_PORT=8088


# EPLsync
EPLSYNC_CATALOG_ZIPURL=https://epublibre.org/rssweb/csv/epub.zip

EPLSYNC_TORRENT_ENABLED=true
EPLSYNC_TORRENT_CLIENT=qbittorrent
EPLSYNC_TORRENT_BASEURL=http://qbittorrent:8090
EPLSYNC_TORRENT_CONNECTTIMEOUT=5s
EPLSYNC_TORRENT_REQUESTTIMEOUT=10s
EPLSYNC_TORRENT_QBITTORRENT_AUTH_MODE=auto
EPLSYNC_TORRENT_QBITTORRENT_AUTH_USERNAME=admin
EPLSYNC_TORRENT_QBITTORRENT_AUTH_PASSWORD=password
EPLSYNC_TORRENT_QBITTORRENT_AUTH_APIKEY=api_key
